<a href="https://colab.research.google.com/github/Tom-Jung/Tom-Jung/blob/main/%EB%B0%98%EB%B3%B5%EB%AC%B8_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for x in range(0,5):
  print("안녕")

안녕
안녕
안녕
안녕
안녕

#시퀀스에 올수 있는 것은 리스트, 문자열

In [5]:
for x in range(5):
  print("안녕")

안녕
안녕
안녕
안녕
안녕

# 문자열 리스트를 시퀀스로 가질 때 for 문

In [6]:
s = ["신은혁", "김남길", "김연아"]

In [7]:
for name in s:
  print('반갑습니다.' + name + "님!")

반갑습니다.신은혁님!
반갑습니다.김남길님!
반갑습니다.김연아님!

# 줄 바꿈을 하지 않계하는 end 인자값을 확인해 보기

In [8]:
for x in [1,2,3,4,5]:
  print(x, end=" ")

1 2 3 4 5

In [10]:
for x in [1,2,3,4,5]:
  print(x, end="\t")

1	2	3	4	5

# range() 함수 실습하기

In [12]:
hap = 0

for x in range(10):
  hap = hap + x
print("0에서9까지의 누계합 :", hap)

0에서9까지의 누계합 : 45

In [14]:
hap = 0

for x in range(0, 10):
  hap = hap + x
print("0에서9까지의 누계합 :", hap)

0에서9까지의 누계합 : 45

In [16]:
hap = 0

for x in range(0,10,1):
  hap = hap + x
print("0에서9까지의 누계합 :", hap)

0에서9까지의 누계합 : 45

In [17]:
hap = 0

for x in range(0,10,2):
  hap = hap + x
print("0에서9까지의 누계합 :", hap)

0에서9까지의 누계합 : 20

In [18]:
hap = 0

for x in range(0,10,3):
  hap = hap + x
print("0에서9까지의 누계합 :", hap)

0에서9까지의 누계합 : 18

In [22]:
s = " Shin Eun Huck "

for ch in s:
  print(ch, end="  ")

   S  h  i  n     E  u  n     H  u  c  k

In [23]:
s = " Shin Eun Huck "

for ch in s:
  print(ch)

S
h
i
n

E
u
n

H
u
c
k

In [24]:
hap = 0
num = int(input("어디까지 합계를 구할까"))

for i in range(1,num+1):
  hap += i

print("1부터", num, "까지의 정수의 합계 = ", hap)

어디까지 합계를 구할까10
1부터 10 까지의 정수의 합계 =  55

# 누적값이 2000이상이 되면 for 문을 까지 나오시요

In [28]:
hap = 0

for i in range(101):
  if hap >=2000:
    print("마지막으로 더해지는 i의 값", i)
    break
  hap += i

print("합", hap)

마지막으로 더해지는 i의 값 64
합 2016

In [32]:
hap = 0

for i in range(101):
  if hap >=2000:
    print("마지막으로 더해지는 i의 값", i-1)
    break
  else:
    hap += i

print("합", hap-i)

마지막으로 더해지는 i의 값 63
합 1952

# breakpoint는 디버깉에 효율적임(단축키는 Shift + F9)

#팩토리얼 구하기

In [39]:
fact = 1.0
n = int(input("팩토리얼 값을 구할 값을 넣으시요"))

for i in range(1,n+1):
  fact *= i  # fact = fact * i을 복합대입연산자를 사용한 코드

print( n, "!은", fact,"입니다")

팩토리얼 값을 구할 값을 넣으시요5
5 !은 120.0 입니다

In [40]:
n1=1
n2=1
n3=1

In [42]:
fi=int(input("피보나치 수열을 만들 정수를 입력하세요"))

for i in range(1,fi):
  if i<3:
    n3 = 1
  else:
    n3 = n1 + n2
    n1 = n2  
    n2 = n3

  if n3 < fi:
    print(n3, end=" ")

피보나치 수열을 만들 정수를 입력하세요13
1 1 2 3 5 8

# 화씨온도를 섭씨온도로 변환 테이블을 출력하는 프로그램
for 문을 이용하며, 실수로 나타내도록 한다. 화씨 0도부터 100도
10도 단위로 증가시키면서 대응되는 섭씨 온도를 추력해라
공식 C = (F -32)*5/9

In [46]:
for F in range(0,101,10):
  C = (F-32)*5/9
  print(F, "\t", round(C,2))

0 	 -17.78
10 	 -12.22
20 	 -6.67
30 	 -1.11
40 	 4.44
50 	 10.0
60 	 15.56
70 	 21.11
80 	 26.67
90 	 32.22
100 	 37.78